{% extends "layout/layout.html" %}

{% block title %} Home 2 {% endblock %}

{% block content %}
			<h1>Leonardo</h1>
			<ul>
				{%for category in categories%}
					<li>
					<a href="{% url 'blog.posts_por_category' category.pk %}">
						{{category.name}}
					</a>
					</li>
				{%endfor%}
			</ul>
			<hr>
			<!-- Ele faz os hasone e hasmany nativamente -->
			<div class="row">
				<div class="col-md-6">
					{%for post in posts%}
						<sup>{{post.name}}</sup>
						<p>{{post.content}}</p>
					{%endfor%}
				</div>
			</div>
		</div>
{% endblock %}
